header {
    background-color: #ccc;
}

main {
    background-color: #fff;
}

footer {
    background-color: #ccc;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}